<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-insights">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Jenesys Insights</h2>
                    <div class="Title_text">Useful information for you</div>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Jenesys Insights</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="Height_adjust"></div> -->
<section class="about-section pt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-tab" style="max-width: 100%; padding-top: 20px;">
                    <div class="tab about-list-tab">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3">
                                        <span>Success </span>
                                        <span>Stories</span>
                                    </div>
                                </div>
                                <br>
                                <p>This page is an archive of news and events that record significant accomplishments
                                    and changes that are continuously evolving the Jenesys brand name and spreading its
                                    presence across the IT industry.
                                </p>
                                <br>
                                <div class="flex_layout">
                                    <div class="flex_child">
                                        <h5>Dedicated Development Centre</h5>
                                        <p>Our clients can use our Dedicated Development Center as an extension of their
                                            software engineering facility. This center is optimized to the client's
                                            requirements
                                            by bringing together specialized, multi-disciplinary resources that are
                                            organized
                                            and managed by Jenesys.
                                        </p>
                                    </div>
                                    <div class="flex_button">
                                        <button class="btn btn-sm btn-primary px-3 mt-2 mb-3">
                                            <a href="./../../../../../assets/pdf/Dedicated_Development_Centre.pdf"
                                                target="_blank">DOWNLOAD PDF</a>
                                        </button>
                                    </div>
                                </div>
                                <br> <br>
                                <div class="flex_layout">
                                    <div class="flex_child">
                                        <h5>Echo Works</h5>
                                        <p>This tool facilitates easy and efficient generation of reports from Echo
                                            tests.
                                        </p>
                                    </div>
                                    <div class="flex_button">
                                        <button class="btn btn-sm btn-primary px-3 mt-2 mb-3">
                                            <a href="./../../../../../assets/pdf/Echo_Works.pdf"
                                                target="_blank">DOWNLOAD PDF</a>
                                        </button>
                                    </div>
                                </div>
                                <br> <br>
                                <div class="flex_layout">
                                    <div class="flex_child">
                                        <h5>Energy Requirement Calculator</h5>
                                        <p>The project aims to develop a tool that can calculate human energy
                                            requirements.</p>
                                    </div>
                                    <div class="flex_button">
                                        <button class="btn btn-sm btn-primary px-3 mt-2 mb-3"><a
                                                href="./../../../../../assets/pdf/Energy_Requirement_Calculator.pdf"
                                                target="_blank">DOWNLOAD PDF</a>
                                        </button>
                                    </div>
                                </div>
                                <br> <br>
                                <div class="flex_layout">
                                    <div class="flex_child">
                                        <h5>Mobile Number Management System</h5>
                                        <p>Jenesys has developed a mobile number management system for a leading Indian
                                            mobile
                                            services provider.</p>
                                    </div>
                                    <div class="flex_button">
                                        <button class="btn btn-sm btn-primary px-3 mt-2 mb-3"><a
                                                href="./../../../../../assets/pdf/Mobile Number_info.pdf"
                                                target="_blank">DOWNLOAD PDF</a>
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="flex_layout">
                                    <div class="flex_child">
                                        <h5>Portfolio Management And Structural Finance</h5>
                                        <p>This is a customized and comprehensive solution aimed at enabling dealmakers
                                            to
                                            analyse complexities in stock market trends and provide profitable
                                            suggestions.
                                        </p>
                                    </div>
                                    <div class="flex_button">
                                        <button class="btn btn-sm btn-primary px-3 mt-2 mb-3"><a
                                                href="./../../../../../assets/pdf/Portfolio_Management.pdf"
                                                target="_blank">DOWNLOAD PDF</a></button>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="flex_layout">
                                    <div class="flex_child">
                                        <h5>Pacemaker Tracker</h5>
                                        <p>This details our solution for keeping track of patient records across
                                            hospital
                                            systems, which we set up for the National Health Trust UK. You can read the
                                            detailed
                                            case study here
                                        </p>
                                    </div>
                                    <div class="flex_button">
                                        <button class="btn btn-sm btn-primary px-3 mt-2 mb-3"><a
                                                href="./../../../../../assets/pdf/Pacemaker_Tracker.pdf"
                                                target="_blank">DOWNLOAD PDF</a></button>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="flex_layout">
                                    <div class="flex_child">
                                        <h5>Backflow Prevention Assembly Management System</h5>
                                        <p>We created a system for monitoring and managing backflow assemblies across
                                            the
                                            entire
                                            city for a large public utilities organization's water quality division.
                                            Using
                                            our
                                            solution, the client could track and report erroneous assemblies to the
                                            health
                                            department. Read all about it here
                                        </p>
                                    </div>
                                    <div class="flex_button">
                                        <button class="btn btn-sm btn-primary px-3 mt-2 mb-3"><a
                                                href="./../../../../../assets/pdf/Backflow prevention assembly management system.pdf"
                                                target="_blank">DOWNLOAD PDF</a></button>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="flex_layout">
                                    <div class="flex_child">
                                        <h5>Connected Personalised Spaces</h5>
                                        <p>This project for a major telecom services provider helps optimize office
                                            space
                                            through efficient desk/cubicle reservation, floor space distribution, and
                                            office
                                            space personalization, leading to an overall positive employee experience.
                                            Read
                                            the
                                            details of this project here
                                        </p>
                                    </div>
                                    <div class="flex_button">
                                        <button class="btn btn-sm btn-primary px-3 mt-2 mb-3"><a
                                                href="./../../../../../assets/pdf/Connected_Personalised_Spaces_Project.pdf"
                                                target="_blank">DOWNLOAD PDF</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>