<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Disclaimer</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Disclaimer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="conditions-section ptb-50">
    <div class="container">
        <div class="single-privacy">
            <!-- <h3>Your privacy on Jenesys website</h3> -->
            <p>The information contained in this website is for general information and our marketing purposes only.</p>
            <p>
                The information is provided by Jenesys and whilst we endeavor to keep the information up-to-date and
                correct, we make no representations or warranties of any kind, express or implied, about the
                completeness, accuracy, reliability, suitability or availability with respect to the website or the
                information, products, services, or related graphics contained on the website for any purpose. Any
                reliance you place on such information is therefore strictly at your own risk.
            </p>
            <p>In no event will we be liable for any loss or damage including without limitation, indirect or
                consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits
                arising out of, or in connection with, the use of this website.</p>
            <p>Through this website you are able to link to other websites which are not under the control of Jenesys.
                We have no control over the nature, content and availability of those sites. The inclusion of any links
                does not necessarily imply a recommendation or endorse the views expressed within them.</p>
            <p>Every effort is made to keep the website up and running smoothly. However, Jenesys takes no
                responsibility for, and will not be liable for, the website being temporarily unavailable due to
                technical issues beyond our control.</p>
            <strong>All trademarks and logos are the properties of their respective owners.</strong>

            <br>
            <!-- <p>Here’s how we protect your privacy during your visit:</p> -->
            <!-- <h3>What information do we gather?</h3> -->
            <!-- <p>Information on <a href="http://www.jenesystech.com/" target="_blank">www.jenesystech.com</a> is gathered
                in two ways: (1) indirectly (for example, through our site's technology); and (2) directly (information
                about Jenesys and its operations).</p> -->
            <!-- <p>One example of information we collect indirectly is through our Internet access logs. When you access
                www.jenesystech.com, your Internet address is automatically collected and is placed in our Internet
                access logs.</p>
            <p>We collect information when you voluntarily submit it to us. Throughout our site, we provide the
                opportunity to register for newsletters, order a white paper, or participate in an online survey.</p>
            <p>When we collect this type of information, we will notify you as to why we are asking for information and
                how this information will be used. It is completely up to you whether or not you want to provide it.</p>
            <h3>How do we use this information?</h3>
            <p>We analyze it to determine what is most effective about our site, to help us identify ways to improve it,
                and eventually, to determine how we can tailor www.jenesystech.com to make it more effective. We may
                also use data for other purposes, which we would describe to you at the point we collect the
                information.</p> -->
            <!-- <h3>Will we share this with outside parties?</h3>
            <p>As a global organization, data we collect may be transferred internationally throughout Jenesys’
                worldwide organization. We will not sell individual information and will share it only with our
                advisors. But again, before you submit any information, we will notify you as to why we are asking for
                specific information and it is completely up to you whether or not you want to provide it.</p>
            <h3>What about sensitive personal data?</h3>
            <p>We do not generally seek to collect sensitive personal data through this site. If we do seek to collect
                such data, we will ask you to consent to our proposed uses of the data. We may also collect some
                sensitive personal data incidentally. By providing us with unsolicited sensitive personal data, you
                consent to our using the data subject to applicable law as described in this Privacy Statement. The
                references to "sensitive personal data" are to the various categories of personal data identified by
                European and other data privacy laws as requiring special treatment, including in some circumstances the
                need to obtain explicit consent.</p>
            <h3>Do we give you access to your information?</h3>
            <p>You are entitled to know whether we hold information about you and, if we do, to have access to that
                information and require it to be corrected if it is inaccurate. You can do this by sending us an e-mail.
            </p> -->
            <!-- <h3>What about data security?</h3>
            <p>We take appropriate steps to maintain the security of your data on www.jenesystech.com. You should
                understand that the open nature of the Internet is such that data may flow over networks without
                security measures and may be accessed and used by people other than those for whom the data is intended.
            </p>
            <p>To sum it all up, we are interested in maintaining your privacy and creating a valuable resource for you
                to use. If you have any questions now or during your visit, please contact us</p> -->
        </div>
    </div>

    <div class="default-shape">
        <div class="shape-1"><img src="assets/img/shape/4.png" alt="image"></div>
        <div class="shape-2 rotateme"><img src="assets/img/shape/5.svg" alt="image"></div>
        <div class="shape-3"><img src="assets/img/shape/6.svg" alt="image"></div>
        <div class="shape-4"><img src="assets/img/shape/7.png" alt="image"></div>
        <div class="shape-5"><img src="assets/img/shape/8.png" alt="image"></div>
    </div>
</section>