<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-systems">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Systems Solutions</h2>
                    <div class="Title_text">Pioneers in server, mobile & embedded systems</div>
                    <!-- <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>About</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                    <img src="assets/img/about/about-2.jpg" alt="image">
                </div>
            </div> -->

            <div class="col-lg-12 col-md-12">
                <div class="about-tab" style="max-width: 100%; padding-top: 20px;">
                    <!-- <h2>About Our Avrax Agency</h2> -->
                    <!-- <div class="bar"></div> -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p> -->
                    <div class="tab about-list-tab">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3 mt-5">
                                        <span>Embedded</span>
                                        <span>Platforms</span>
                                    </div>
                                </div>
                                <br>
                                <p>One of our core experiences has been in the development of customized software
                                    solutions for embedded systems. With excellent team, expertise and tools
                                    infrastructure, Jenesys offers services across all layers of software required to
                                    build complete solutions around chipsets/platforms.

                                </p>
                                <br>

                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <!-- <div class="development-image"> -->
                                        <h4 class="Big_text">
                                            Following is a list of design areas we are capable of executing:
                                        </h4>
                                        <!-- </div> -->
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> uBoot / RedBoot</li>
                                                <li><i class="flaticon-tick"></i> Legacy BIOS, Option ROM</li>
                                                <li><i class="flaticon-tick"></i> UEFI / HII</li>
                                                <li><i class="flaticon-tick"></i> Embedded Software Application Design and
                                                    Development</li>
                                                <li><i class="flaticon-tick"></i> Device Drivers (Linux, Windows)</li>
                                                <li><i class="flaticon-tick"></i> Firmware</li>
                                                <li><i class="flaticon-tick"></i> BSP, boot loader and diagnostic monitor programs
                                                </li>
                                                <li><i class="flaticon-tick"></i> Software Testing (Black Box, White Box)</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

