<div class="navbar-area navbar-style-two">
    <div class="container-fluid navone_container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" routerLink="/">
                <img src="../../../../assets/img/Jenesys_logo-removebg-preview.png" alt="logo" width="">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a routerLink="/" class="nav-link">Home <i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Home One</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/home-two" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Home Two</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/home-three" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Home Three</a></li>

                            <!-- <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/home-four" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Four</a></li> -->

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/home-five" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Home Five</a></li>

                            <!-- <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/home-six" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Six</a></li> -->

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/home-seven" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Home Seven</a></li>

                            <!-- <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/home-eight" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home Eight</a></li> -->
                        </ul>
                    </li>

                    <li class="nav-item"><a routerLink="/about" class="nav-link">Company <i
                                class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/about" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">About Us</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/overview" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Overview</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/ourvalues" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Our Values</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/adavantages" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Jenesys Advantage</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/executives" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Executive Team</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/engagements" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Our Engagement</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/credentials" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Green Credentials</a></li>
                        </ul>
                    </li>

                    <!-- <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show">
                        <a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                            Company
                        </a>
                    </li> -->

                    <!-- <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show">
                        <a routerLink="/enterprise" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                            Enterprise
                        </a>
                    </li> -->

                    <li class="nav-item"><a routerLink="/enterprise" class="nav-link">Enterprise <i
                                class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/enterprise" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Application Development & Maintenance</a>
                            </li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/ebusiness" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">eBusiness & eGovernance Solutions</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/wireless" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Wireless & Mobile Solutions</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/sfttesting" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Software Testing Solutions</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/mainframe" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Mainframe & Midrange Solutions</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/reeng" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Re-Engineering, EAI, DW/BI</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/techdoc" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Technical Documentation</a></li>
                        </ul>
                    </li>

                    <!-- <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show">
                        <a routerLink="/systems" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                            Systems
                        </a>
                    </li> -->

                    <li class="nav-item"><a routerLink="/systems" class="nav-link">Systems <i
                                class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/systems" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Overview</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/storage" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Storage Practice</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/embedded" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Embedded Platforms</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/validation" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Validation and Verification</a></li>
                        </ul>
                    </li>

                    <!-- <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show">
                        <a routerLink="/industry" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                            Industry
                        </a>
                    </li> -->

                    <li class="nav-item"><a routerLink="/industry" class="nav-link">Industry <i
                                class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/industry" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Telecome</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/healthcare" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Healthcare</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/banking" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Banking & Financial Services Industry
                                    (BFSI)</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/govt" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Government</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/energy" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Energy</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/retail" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Retail</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a routerLink="/product" class="nav-link">Products <i
                                class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/product" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Product Engineering</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/erpc" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">ERPconstruct </a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/finedeal" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">FINdeal </a></li>
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/energit" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">EnergIT </a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a routerLink="/magic" class="nav-link">Partner <i
                                class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/magic" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">MAGIC LAMP</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/ibm" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">IBM </a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/hp" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">HP </a></li>
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/borland" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">BORLAND </a></li>
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/microsoft" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">MICROSOFT </a></li>
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/oracle" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">ORACLE </a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a routerLink="/success" class="nav-link">Insights <i
                                class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/success" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">SUCCESS STORIES</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/news" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">NEWS AND EVENTS </a></li>

                        </ul>
                    </li>
                    <li class="nav-item"><a routerLink="/careers" class="nav-link">Careers <i
                                class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/careers" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Environment</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a
                                    routerLink="/openings" class="nav-link" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">Current Openings</a></li>

                        </ul>
                    </li>
                    <!-- <li class="nav-item"><a routerLink="/services-one" class="nav-link">Services <i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/services-one" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Services</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/services-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Services Two</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/services-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Services Details</a></li>
                        </ul>
                    </li> -->

                    <!-- <li class="nav-item"><a routerLink="/projects-one" class="nav-link">Projects <i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/projects-one" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Projects One</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/projects-two" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Projects Two</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/projects-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Projects details</a></li>
                        </ul>
                    </li> -->

                    <!-- <li class="nav-item"><a routerLink="/" class="nav-link">Pages <i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/about" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">About</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/team" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Team</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/pricing" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Pricing</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/faq" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">FAQ</a></li>

                            <li class="nav-item"><a routerLink="/" class="nav-link">User</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/log-in" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Log In</a></li>

                                    <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/sign-up" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sign Up</a></li>
                                </ul>
                            </li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/terms-conditions" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Terms & Conditions</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/privacy-policy" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Privacy Policy</a></li>
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/disclaimer" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Disclaimer</a></li>
                        
                             <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/error" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">404 Error</a></li> -->

                    <!-- <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/coming-soon" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Coming Soon</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact</a></li>
                        </ul>
                    </li> -->

                    <!-- <li class="nav-item"><a routerLink="/blog-grid" class="nav-link">Blog <i class='bx bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/blog-grid" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Grid</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/blog-right-sidebar" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Right Sidebar</a></li>

                            <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/blog-details" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Blog Details</a></li>
                        </ul>
                    </li> -->

                    <!-- <li class="nav-item" data-bs-toggle="collapse" data-target=".navbar-collapse.show"><a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contact</a></li> -->
                </ul>
                <div class="others-options">
                    <!-- <div class="option-item"><i class="search-btn flaticon-search"></i>
                        <i class="close-btn flaticon-cancel"></i>
                        <div class="search-overlay search-popup">
                            <div class='search-box'>
                                <form class="search-form">
                                    <input class="search-input" name="search" placeholder="Search" type="text">
                                    <button class="search-button" type="submit"><i class="flaticon-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="burger-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div> -->
                    <div>
                        <button class="btn btn-sm btn-outline-primary" routerLink="/contact">Contact Us</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>