<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-products">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Jenesys Products</h2>
                    <div class="Title_text">Specialized solutions for specific needs</div>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Jenesys Products</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                    <img src="assets/img/about/about-2.jpg" alt="image">
                </div>
            </div> -->

            <div class="col-lg-12 col-md-12">
                <div class="about-tab" style="max-width: 100%; padding-top: 20px;">
                    <p class="enterprise_styles">We are experienced in developing proprietary software products for our clients and such services
                        are offered by our product engineering division. Also, we act as a single point of contact to
                        work with for picking and choosing the right product solutions from our partners. We provide
                        services around all of them.

                    </p>
                    <br>
                    <!-- <h2>About Our Avrax Agency</h2> -->
                    <!-- <div class="bar"></div> -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p> -->
                    <div class="tab about-list-tab">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3">
                                        <span>Product </span>
                                        <span>Engineering</span>
                                    </div>
                                </div>
                                <br>
                                <p>Jenesys follows a PMI recommended process from initiation to control and up to the
                                    closing phase of the project to ensure quality and efficiency. At Jenesys we have
                                    developed a proprietary process for conceptualizing, planning, and executing
                                    solutions for complex business problems. We draw on skills in business strategy,
                                    technology, creativity and marketing using user-centred design. Our process includes
                                    four phases, and ensures success through client involvement in all stages.
                                </p>
                                <br>
                                <p>We believe every business is a puzzle with complex business processes. We have
                                    derived our inspiration from magical cube for solving such complex business
                                    processes for a business is like a cube with multiple faces and unless each face is
                                    understood well and turned and tweaked in the right direction, a reliable and an
                                    efficient scalable solution cannot be achieved.
                                </p>
                                <br>
                                <p>The process includes four phases: define, design, develop and deploy. Through all the
                                    phases the client is informed of what progress has been made.
                                </p>
                                <br>
                                <p>Jenesys's Productization Strategy & Architecture service enables our clients to
                                    design a technology foundation that can quickly respond to business changes. The
                                    service is built around Productization, Jenesys's unique methodology to create and
                                    consolidate software assets into client-specific platforms that are leveraged across
                                    an organization.
                                </p>
                                <br>
                                <p>At the inception phase of the engagement, Jenesys conducts an in-depth requirement
                                    analysis through facilitated workshops with all the stakeholders to understand our
                                    client's business objectives such as growth, re-alignment, process improvement and
                                    more. Our experienced architects, technology experts, and business domain
                                    specialists collaborate with clients to identify change drivers and expose hidden
                                    factors that may impact the architecture in the long run.
                                </p>
                                <br>
                                <p>During the elaboration phase, the joint teams compile an inventory of all IT assets
                                    and processes to identify redundancies and recurrences that can be consolidated to
                                    achieve simplicity and future reuse. The aspects of configurability,
                                    customizability, and flexibility are examined very carefully so that they can be
                                    built into the design and the solution architecture. The final deliverable is an
                                    implementation plan that empowers our clients with a clear roadmap to create
                                    platforms, products, and solutions.
                                </p>
                                <br>
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <h4 class="Big_text">
                                            The Productization Strategy & Architecture service delivers measurable business
                                    benefits such as the following:
                                        </h4>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> Improved agility through change-ready
                                                    architectures</li>
                                                <li><i class="flaticon-tick"></i> Significant reduction in development, deployment,
                                                    integration, and maintenance costs due to a better architecture that is built to
                                                    last</li>
                                                <li><i class="flaticon-tick"></i> Improved strategic visibility through a clear
                                                    strategy and long-term roadmap</li>
                                                <li><i class="flaticon-tick"></i> Increased predictability through streamlined and
                                                    tailored process</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <p>Our high degree of familiarity with every stage of the product development life cycle
                                    keeps us in a position to comfortably manage the complexities of product management.
                                    Thus, we can effectively handle various aspects of product management such as
                                    release management, version control, help desk, and so on.
                                </p>
                                <br>
                                <br>
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <h4 class="Big_text">
                                            When we deliver a product to the client, these are the factors we focus on:
                                        </h4>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> Progress</li>
                                                <li><i class="flaticon-tick"></i> Quality</li>
                                                <li><i class="flaticon-tick"></i> Backward compatibility</li>
                                                <li><i class="flaticon-tick"></i> Future changes in client needs from the product
                                                </li>
                                                <li><i class="flaticon-tick"></i> Extensions</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area" style="padding: 30px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/magic"><img src="../../../../../assets/img/Jenesys_magiclamp.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/ibm"><img src="../../../../../assets/img/Jenesys_ibm.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/hp"><img src="../../../../../assets/img/Jenesys_hp.jpg" alt="partner"></a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/borland"><img src="../../../../../assets/img/Jenesys_borland.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/microsoft"><img src="../../../../../assets/img/microsoft.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/oracle"><img src="../../../../../assets/img/Jenesys_oracle.jpg" alt="partner"></a>
                </div>
            </div>
        </div>
    </div>
</section>