<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Our Engagement</h2>
                    <div class="Title_text">Who we are and what we do...</div>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Our Engagement</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-tab" style="max-width: 100%;">
                     <div class="tab about-list-tab">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3">
                                        <span>Our</span>
                                        <span>Engagement</span>
                                </div>
                                </div>
                                <br>
                                <p>We provide various consulting services to clients, including advisory, strategy
                                    consulting, business and operations consulting, and technical consulting. We
                                    generally follow one of these delivery models:
                                </p>
                                <br>
                                <h6>Onsite Model:</h6>
                                <br>
                                <p>If the client prefers this model, they can have our engineers deputed to their site,
                                    and thus can have close and frequent interactions with them to get a first-hand feel
                                    of the way the project is being handled. We work with the client's IT teams or
                                    implementation partners, providing them onsite delivery capabilities through our
                                    skilled team of project managers, consultants, software architects and engineers.
                                    This model is best suited when frequent interactions with the client are required
                                    along with ongoing development, support or maintenance. The model gives us
                                    flexibility and allows us to quickly scale up in scope and deliverables.

                                </p>
                                <br>

                                <h6>Offshore Model:</h6>
                                <br>
                                <p>This model involves the deputing of one or more project co-ordinator/manager to the
                                    client's site to interface with the client and their team offshore. Development
                                    continues to be carried out of our facilities here in India, as we aim to simulate
                                    the client's environment here with dedicated resources including infrastructure. The
                                    client can use these resources on a continuing basis like their own for their
                                    operations. Project deliverables are sent through high-speed digital links, the
                                    internet, or any media of the client's choice.

                                </p>
                                <br>
                                <p>The model is ideal when the project parameters are well-defined before the project
                                    starts getting implemented, so there is little need for constant interaction between
                                    Jenesys and the client. This is a highly cost-effective option.

                                </p>
                                <br>

                                <h6>Hybrid Model:</h6>
                                <br>
                                <p>We also offer a third model, which involves 24/7 development services, with a mix of
                                    the offshore and onshore models. We achieve this by deploying a small team of
                                    software architects and engineers to the client's site, where they design the
                                    required applications and work in sync with our development team at our facilities
                                    in India, providing scalable and 'just-in-time' development capacity in a
                                    cost-effective manner. This way, the client can focus on their core business needs
                                    while we manage the software delivery. The onsite and offsite teams work as one
                                    cohesive unit.

                                </p>
                                <br>
                                <p>This approach is effective when the project involves support, maintenance and
                                    application functionality enhancement on an ongoing basis. Typically, such projects
                                    require very quick response and turnaround times.

                                </p>
                                <br>
                                <br>

                                <h6>Dedicated Development Center</h6>
                                <br>
                                <p>The Jenesys Dedicated Development Center (JDDC) works to fully support the client's
                                    existing processes in the form of design, development, Quality Assessment (QA),
                                    version control, backup, and recovery support. Additional support services that the
                                    JDDC provides include power backups, network and system security, security of IT and
                                    communication infrastructure, and IPR protection mechanisms for the client's
                                    products, projects, and technologies.

                                </p>
                                <br>
                                <p>If the client prefers this model, they pay for pre-developed products, materials,
                                    process setups, and all resources deployed under a yearly contract. The billing of
                                    resources at the contracted rate and of other actual expenses, as approved by the
                                    client, is done on a monthly basis.

                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="team-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Expert Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore
                magna aliqua.</p>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-item">
                    <div class="image">
                        <img src="assets/img/team/img1.jpg" alt="image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Alex Maxwel</h3>
                        <span>Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team-item">
                    <div class="image">
                        <img src="assets/img/team/img2.jpg" alt="image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Williams Halimton</h3>
                        <span>Manager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="team-item">
                    <div class="image">
                        <img src="assets/img/team/img3.jpg" alt="image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Juhon Dew</h3>
                        <span>CEO</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="default-shape">
        <div class="shape-1"><img src="assets/img/shape/4.png" alt="image"></div>
        <div class="shape-2 rotateme"><img src="assets/img/shape/5.svg" alt="image"></div>
        <div class="shape-3"><img src="assets/img/shape/6.svg" alt="image"></div>
        <div class="shape-4"><img src="assets/img/shape/7.png" alt="image"></div>
        <div class="shape-5"><img src="assets/img/shape/8.png" alt="image"></div>
    </div>
</section> -->

<!-- <section class="faq-section pb-100">
    <div class="container">
        <div class="section-title">
            <h2>Frequently <span>Asked</span> Questions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore
                magna aliqua.</p>
            <div class="bar"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="faq-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-bs-toggle="collapse" data-bs-parent="#accordionEx" href="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">What access do I have on the free
                                plan? <i class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseOne" class="collapse show" role="tabpanel" data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-bs-toggle="collapse" data-bs-parent="#accordionEx"
                                href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">What access do I
                                have on a free trial? <i class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="collapsed" data-bs-toggle="collapse" data-bs-parent="#accordionEx"
                                href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Does the price
                                go up as my team gets larger? <i class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a class="collapsed" data-bs-toggle="collapse" data-bs-parent="#accordionEx"
                                href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">How can I cancel
                                my subscription? <i class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel" data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <a class="collapsed" data-bs-toggle="collapse" data-bs-parent="#accordionEx"
                                href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Can I pay via an
                                Invoice? <i class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseFive" class="collapse" role="tabpanel" data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="faq-image">
                    <img src="assets/img/faq.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="clients-section pb-100">
    <div class="container">
        <div class="section-title">
            <h2>What Our <span>Clients</span> Says</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incidiunt labore et dolore
                magna aliqua.</p>
            <div class="bar"></div>
        </div>
        <div class="clients-slider owl-carousel owl-theme">
            <div class="clients-item">
                <div class="icon">
                    <i class="flaticon-left-quotes-sign"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, printing printing sed do eiusmod tempor
                    incididunt ut labore et printing dolore magna aliqua. Quis ipsum printing suspendisse ultricesss
                    gravida. Risus commodo viverra printing maecenas accumsan lacus vel facilisis printing. Lorem Ipsum
                    is simply dummy text of the printing and typesetting industry.</p>
                <div class="clients-content">
                    <h3>Moris Jacker</h3>
                    <span>Web Developer</span>
                </div>
            </div>
            <div class="clients-item">
                <div class="icon">
                    <i class="flaticon-left-quotes-sign"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, printing printing sed do eiusmod tempor
                    incididunt ut labore et printing dolore magna aliqua. Quis ipsum printing suspendisse ultricesss
                    gravida. Risus commodo viverra printing maecenas accumsan lacus vel facilisis printing. Lorem Ipsum
                    is simply dummy text of the printing and typesetting industry.</p>
                <div class="clients-content">
                    <h3>Alex Maxwel</h3>
                    <span>Agent Management</span>
                </div>
            </div>
            <div class="clients-item">
                <div class="icon">
                    <i class="flaticon-left-quotes-sign"></i>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, printing printing sed do eiusmod tempor
                    incididunt ut labore et printing dolore magna aliqua. Quis ipsum printing suspendisse ultricesss
                    gravida. Risus commodo viverra printing maecenas accumsan lacus vel facilisis printing. Lorem Ipsum
                    is simply dummy text of the printing and typesetting industry.</p>
                <div class="clients-content">
                    <h3>Edmond Halley</h3>
                    <span>Web Designer</span>
                </div>
            </div>
        </div>
    </div>
</section> -->