<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Careers</h2>
                    <div class="Title_text">Our greatest strength is our people</div>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Careers</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="conditions-section pt-5">
    <div class="container">
        <div class="single-privacy">
            <p>If you are experienced in any of the solution areas listed on our website or want to apply for the
                current openings mentioned below, please send your resumes to
                <a href="mailto:careers@jenesystech.com" style="color: blue;">careers@jenesystech.com</a> with an
                appropriate subject line.
            </p>
            <br>
            <section class="faq-section pb-100">
                <div class="">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="faq-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <a data-bs-toggle="collapse" data-bs-parent="#accordionEx" href="#collapseOne"
                                            aria-expanded="false" aria-controls="collapseOne">Software Engineer / Sr.
                                            Software Engineer (VxWorks) <i class='bx bx-chevron-down'></i></a>
                                    </div>
                                    <div id="collapseOne" class="collapse" role="tabpanel"
                                        data-bs-parent="#accordionEx">
                                        <div class="card-body">

                                            <strong>Title: </strong> Software Engineer / Senior Software Engineer
                                            <br /><br />
                                            <strong>Department: </strong> Systems solutions<br /><br />
                                            <strong>Skillset:</strong>
                                            <br><br>
                                            <ul class="list">
                                                <li> Expertise in C programming and Data Structures & Algorithms</li>
                                                <li> Expertise in Unix / Linux internals and VxWorks or any POSIX based
                                                    OS</li>
                                                <li> Experience in Diagnostics software development to validate
                                                    networking hardware</li>
                                                <li> Experience in Device drivers, BSP development, Boot loaders, Board
                                                    bring up, firmware development</li>
                                                <li> Hardware abstraction layer development</li>
                                                <li> Strong knowledge of hardware for telecommunication and/or
                                                    networking routers and switches</li>
                                            </ul>
                                            <strong>Experience: </strong> 5 to 8 years<br /><br />
                                            <strong>Roles and Responsibilities:</strong>
                                            <ul class="list">
                                                <li> As a software engineer in the Systems Solutions team, the person
                                                    will be responsible for design, development, coding, testing and
                                                    debugging of various embedded components</li>
                                                <li> Must be an expert in C programming.</li>
                                                <li> Should have strong problem solving skills and able to debug complex
                                                    systems involving various hardware and embedded software.</li>
                                                <li> Should have good written and oral communication skills.</li>
                                                <li> Should have the capability to interact with the clients and other
                                                    teams across geographies, as well as with the other team members
                                                    clearly and without any ambiguity.
                                                </li>
                                            </ul>
                                            <strong>Education: </strong> B.E. Computer Science, E.C.E, M.Sc. Computer
                                            Science, M.C.A or equivalent.<br /><br />
                                            <strong>Location: </strong>Bangalore, India.<br /><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingTwo">
                                        <a class="collapsed" data-bs-toggle="collapse" data-bs-parent="#accordionEx"
                                            href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">C /
                                            C++ programmer <i class='bx bx-chevron-down'></i></a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" role="tabpanel"
                                        data-bs-parent="#accordionEx">
                                        <div class="card-body">
                                            <strong>Title: </strong> Software Engineer / Senior Software Engineer
                                            <br /><br />
                                            <strong>Department: </strong> Systems solutions<br /><br />
                                            <strong>Skillset:</strong>
                                            <br><br>
                                            <ul class="list">
                                                <li> Expertise in C programming and Data Structures &amp; Algorithms
                                                </li>
                                                <li> Experience in C++ and OOPS</li>
                                                <li> Exposure to Storage utilities and CLI tools</li>
                                                <li> Assembly language programming is an added plus</li>
                                                <li> A good understanding of 16bit and 32bit systems and compilers
                                                </li>
                                            </ul>
                                            <strong>Experience: </strong> 4 to 8 years<br /><br />
                                            <strong>Roles and Responsibilities:</strong>
                                            <ul class="list">
                                                <li> As a software engineer in the Systems Solutions team, the person
                                                    will be responsible for design, development, coding, testing and
                                                    debugging of various C and C++ utilities on multiple platforms like
                                                    DOS, Windows, Linux and variants. </li>
                                                <li> Must be an expert in C programming.</li>
                                                <li> Must have expertise in interfacing with various components like the
                                                    system BIOS, Option ROMs, Drivers, DLLs, IPC and Firmware etc.</li>
                                                <li> Should have good written and oral communication skills.</li>
                                                <li> Should have the capability to interact with the clients and other
                                                    teams across geographies, as well as with the other team members
                                                    clearly and without any ambiguity.

                                                </li>
                                            </ul>
                                            <strong>Education: </strong> B.E. Computer Science, E.C.E, M.Sc. Computer
                                            Science, M.C.A or equivalent.<br /><br />
                                            <strong>Location: </strong>: Bangalore, India.<br /><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <a class="collapsed" data-bs-toggle="collapse" data-bs-parent="#accordionEx"
                                            href="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">Java Developer
                                            <i class='bx bx-chevron-down'></i></a>
                                    </div>
                                    <div id="collapseThree" class="collapse" role="tabpanel"
                                        data-bs-parent="#accordionEx">
                                        <div class="card-body">
                                            <strong>Title: </strong> Software Engineer /Senior Software Engineer
                                            <br /><br />
                                            <strong>Skillset:</strong>
                                            <br><br>
                                            <ul class="list">
                                                <li> Extensive experience in developing Java, J2EE enterprise
                                                    Applications.</li>

                                                <li> Minimum 2 years' experience in developing enterprise applications
                                                    using Struts, Spring and Hibernate frameworks.</li>

                                                <li> Experience in any application server preferably Oracle Web logic
                                                    and
                                                    JBOSS</li>

                                                <li> Exposure to SQL and other related database concepts .</li>

                                                <li> The candidate should have exposure to Object oriented design using
                                                    UML.</li>

                                                <li> Have the right focus towards best practices like coding standards
                                                    and other development process.</li>

                                                <li> The candidate should be able to work independently with minimal
                                                    guidance.
                                                </li>
                                            </ul>
                                            <strong>Experience: </strong> 4 to 7 years<br /><br />

                                            <strong>Location: </strong>Bangalore, India.<br /><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFour">
                                        <a class="collapsed" data-bs-toggle="collapse" data-bs-parent="#accordionEx"
                                            href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Sr.
                                            Software Engineer (Linux, BSP, Device Drivers)

                                            <i class='bx bx-chevron-down'></i></a>
                                    </div>
                                    <div id="collapseFour" class="collapse" role="tabpanel"
                                        data-bs-parent="#accordionEx">
                                        <div class="card-body">
                                            <strong>Title: </strong> Software Engineer / Senior Software Engineer
                                            (Linux, BSP, Device Driver)<br /><br />
                                            <strong>Skillset:</strong>
                                            <br><br>
                                            <ul class="list">
                                                <li> Strong system C programming.</li>

                                                <li> Experience in BSP and Boot loaders</li>

                                                <li> Linux Device drivers Development and knowledge of RTOS.</li>

                                                <li> Device drivers experience preferably for following devices: UART,
                                                    I2C, I2S, SPI, GPIO, PCIe, MMC, USB etc.,
                                                </li>
                                                <li> Good knowledge on platforms and peripheral devices</li>

                                                <li> Knowledge on processor core like ARM is a plus.
                                                </li>
                                            </ul>
                                            <strong>Experience: </strong> 3-7 Years<br /><br />

                                            <strong>Education: </strong> BE/BTECH/ME/MTECH/M.C.A/M.Sc<br /><br />
                                            <strong>Location: </strong>Bangalore, India.<br /><br />
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFive">
                                        <a class="collapsed" data-bs-toggle="collapse" data-bs-parent="#accordionEx"
                                            href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">.NET
                                            Developer <i class='bx bx-chevron-down'></i></a>
                                    </div>
                                    <div id="collapseFive" class="collapse" role="tabpanel"
                                        data-bs-parent="#accordionEx">
                                        <div class="card-body">
                                            <strong>Title: </strong> Dot-net Senior Developer <br /><br />
                                            <strong>Department: </strong>Retail<br /><br />
                                            <strong>Skillset:</strong>
                                            <br><br>
                                            <ul class="list">
                                                <li> Asp .Net, Sharepoint Development</li>
                                                <li> Strong experience working on Agile/Scrum Methodology</li>
                                                <li> Must have expert-level understanding and experience in C#</li>
                                                <li> Experience in database programming using SQL with SQL Server</li>
                                                <li> Exposure to SDLC,Web Technologies,HTML5,WFC
                                                </li>
                                            </ul>
                                            <strong>Generic Managerial Skills:</strong>
                                            <ul class="list">
                                                <li>Should be able to work independently with client managers.</li>
                                            </ul>
                                            <strong>Experience: </strong> 4 to 7 years<br /><br />
                                            <strong>Roles and Responsibilities:</strong>
                                            <ul class="list">
                                                <li> Code Development &amp; Programming</li>
                                                <li> Requirement Analysis</li>
                                                <li> Developing Technical Specs
                                                </li>
                                            </ul>
                                            <strong>Education: </strong> B.E/B.TECH/MCA <br /><br />
                                            <strong>Location: </strong>Bangalore, India.<br /><br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 col-md-12">
                            <div class="faq-image">
                                <img src="assets/img/faq.png" alt="image">
                            </div>
                        </div> -->
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="default-shape">
        <div class="shape-1"><img src="assets/img/shape/4.png" alt="image"></div>
        <div class="shape-2 rotateme"><img src="assets/img/shape/5.svg" alt="image"></div>
        <div class="shape-3"><img src="assets/img/shape/6.svg" alt="image"></div>
        <div class="shape-4"><img src="assets/img/shape/7.png" alt="image"></div>
        <div class="shape-5"><img src="assets/img/shape/8.png" alt="image"></div>
    </div>
</section>