<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-products">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Jenesys Products</h2>
                    <div class="Title_text">Specialized solutions for specific needs</div>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Jenesys Products</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-tab" style="max-width: 100%; padding-top: 20px;">
                    <p class="enterprise_styles">We are experienced in developing proprietary software products for our clients and such services
                        are offered by our product engineering division. Also, we act as a single point of contact to
                        work with for picking and choosing the right product solutions from our partners. We provide
                        services around all of them.
                    </p>
                    <br> <div class="tab about-list-tab">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3">
                                        <span>EnergIT - </span>
                                        <span>Energy Management</span>
                                    </div>
                                </div>
                                <br>
                                <p>The CRC Energy Efficiency Scheme (formerly known as the Carbon Reduction Commitment)
                                    is a mandatory carbon emissions reporting and pricing scheme to cover all
                                    organizations using more than 6,000MWh per year of electricity.
                                </p>
                                <br>
                                <p>EnergIT, a Jenesys product, provides an integrated solution which analyses different
                                    sources of greenhouse gas (GHG) emissions in an organization and collates data on a
                                    regular basis to provide multi-granular reporting and forecasting towards helping
                                    reduce these carbon emissions and thereby meeting CRC targets.
                                </p>
                                <br>
                                <p>The reports created by this tool detail the procedures utilized within a system to
                                    develop carbon emission calculations and future energy and carbon forecasts. The
                                    Carbon Accounting Tool analyses the Carbon emission data and identifies key areas to
                                    reduce energy emission and thus reduce carbon footprint of an organization.
                                </p>
                                <br>
                                <br>
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <h4 class="Big_text">
                                            The Carbon Accounting Tool integrates the following elements:
                                        </h4>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> Energy usage: This provides the necessary data to
                                                    determine core GHG emission calculation</li>
                                                <li><i class="flaticon-tick"></i> Organizational structure: This determines the
                                                    individuals responsible for each facility and the operational divisions within
                                                    an organization corresponding to facility usage.</li>
                                                <li><i class="flaticon-tick"></i> Facility function: It determines the activities
                                                    that are responsible for the greatest levels of emission by an organization,
                                                    thereby pointing out the greatest opportunity for GHG emission reductions.</li>
                                                <li><i class="flaticon-tick"></i> EnergIT functionality: The tool reports the
                                                    procedures utilized within the system to develop emission calculations, as well
                                                    as future energy and carbon forecasts.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <p>To provide these forecasts, the tool utilizes an algorithm that combines the
                                    projected growth of an organization, the projected facility usage growth, and the
                                    anticipated changes in energy demands and composition, as well as current trends and
                                    targets, to report a projected ability for any organization to meet CRC targets
                                    given the current usage patterns.
                                </p>
                                <br>
                                <p>The advanced module provides integrated climate and energy forecasting solutions
                                    based on a data analysis approach that combines climate forecasting models with
                                    climate impact models and energy modelling.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area" style="padding: 30px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/magic"><img src="../../../../../assets/img/Jenesys_magiclamp.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/ibm"><img src="../../../../../assets/img/Jenesys_ibm.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/hp"><img src="../../../../../assets/img/Jenesys_hp.jpg" alt="partner"></a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/borland"><img src="../../../../../assets/img/Jenesys_borland.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/microsoft"><img src="../../../../../assets/img/microsoft.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/oracle"><img src="../../../../../assets/img/Jenesys_oracle.jpg" alt="partner"></a>
                </div>
            </div>
        </div>
    </div>
</section>