.page-title-area.item-bg-1 {
    background-image: url('http://jenesystech.com/images/Jenesys_Company.jpg');
}

.page-title-area {
    z-index: auto !important;
}

p {
    text-align: left !important;
}