<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-products">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Jenesys Products</h2>
                    <div class="Title_text">Specialized solutions for specific needs</div>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Jenesys Products</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-tab" style="max-width: 100%; padding-top: 20px;">
                    <p class="enterprise_styles">We are experienced in developing proprietary software products for our
                        clients and such services
                        are offered by our product engineering division. Also, we act as a single point of contact to
                        work with for picking and choosing the right product solutions from our partners. We provide
                        services around all of them.
                    </p>
                    <br>
                    <div class="tab about-list-tab">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3">
                                        <span>ERPconstruct - </span>
                                        <span> A web-based ERP for the structural design industry</span>
                                    </div>
                                </div>
                                <br>
                                <p>Jenesys has developed an ERP application for the construction industry, focusing
                                    specifically on companies with multiple construction sites.</p>
                                <br>
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <h4 class="Big_text">
                                            This application helps
                                            such companies in the following areas:
                                        </h4>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> Materials management</li>
                                                <li><i class="flaticon-tick"></i> Labour management</li>
                                                <li><i class="flaticon-tick"></i> Vehicle management</li>
                                                <li><i class="flaticon-tick"></i> Asset management</li>
                                                <li><i class="flaticon-tick"></i> Account management</li>
                                                <li><i class="flaticon-tick"></i> Reports</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <h4 class="Big_text">
                                            The benefits of using this solution are:
                                        </h4>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> Supports multiple sites at various
                                                    locations</li>
                                                <li><i class="flaticon-tick"></i> Supports multiple users</li>
                                                <li><i class="flaticon-tick"></i> Integrated or Plug & Play modules</li>
                                                <li><i class="flaticon-tick"></i> Easy integration with other ERPs</li>
                                                <li><i class="flaticon-tick"></i> Separate module-based reports and
                                                    general reports</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area" style="padding: 30px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/magic"><img src="../../../../../assets/img/Jenesys_magiclamp.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/ibm"><img src="../../../../../assets/img/Jenesys_ibm.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/hp"><img src="../../../../../assets/img/Jenesys_hp.jpg" alt="partner"></a>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/borland"><img src="../../../../../assets/img/Jenesys_borland.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/microsoft"><img src="../../../../../assets/img/microsoft.jpg" alt="partner"></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <a routerLink="/oracle"><img src="../../../../../assets/img/Jenesys_oracle.jpg" alt="partner"></a>
                </div>
            </div>
        </div>
    </div>
</section>