div.fadenav { position: absolute; top: 255px; right: 50px; padding-top:5px; padding-left:10px; z-index:1000; background-image:url(../images/dot_bg.png); width:105px; background-color:#; height:25px; background-position:top; background-repeat:no-repeat; }
div.fadenav a { display: block; margin: 0 0 0 9px; float: left; overflow: hidden; background-image:url(../images/dot_link.png); width:14px; height:14px; background-position:top; background-repeat:no-repeat; text-decoration:none; }
div.fadenav a:hover { text-decoration: none; }
div.fadenav a.current { background-image:url(../images/dot_active.png); width:14px; height:14px; background-position:top; background-repeat:no-repeat; }

