<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-enterprise">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Enterprise Solutions</h2>
                    <div class="Title_text">Helping businesses scale up on technology</div>
                    <!-- <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>About</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                    <img src="assets/img/about/about-2.jpg" alt="image">
                </div>
            </div> -->

            <div class="col-lg-12 col-md-12">

                <div class="about-tab" style="max-width: 100%; padding-top: 20px;">
                    <p class="enterprise_styles">
                        Jenesys provides solutions that answer the information technology needs of businesses across
                        industries. Our enterprise solutions span the gamut of business IT requirements, including
                        application development and maintenance, e-business and e-governance solutions, wireless and
                        mobile technologies, software testing, mainframe & midrange solutions, re-engineering,
                        integration, data solutions and technical documentation.
                    </p>
                    <div class="tab about-list-tab">
                        <!-- <ul class="tabs">
                            <li><a href="#">Application Development & Maintenance</a></li>
                            <li><a href="#">eBusiness & eGovernance Solutions</a></li>
                            <li><a href="#">Wireless & Mobile Solutions</a></li>
                            <li><a href="#">Software Testing Solutions</a></li>
                            <li><a href="#">Mainframe & Midrange Solutions</a></li>
                            <li><a href="#">Re-Engineering, EAI, DW/BI</a></li>
                            <li><a href="#">Technical Documentation</a></li>
                        </ul> -->
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3">
                                        <span>eBusiness & eGovernance</span>
                                        <span>Solutions</span>
                                    </div>
                                </div>
                                <br>

                                <h4>eBusiness solutions:</h4>
                                <br>
                                <!-- <ul class="list">
                                    <li><i class="flaticon-tick"></i> The Philosopy of Business Analytics</li>
                                    <li><i class="flaticon-tick"></i> Fast Track Your Business</li>
                                    <li><i class="flaticon-tick"></i> Lies & Damn Lies About Your Business</li>
                                    <li><i class="flaticon-tick"></i> The Ultimate Deal on Business</li>
                                </ul> -->
                                <p>Automation of business processes has been the most pressing issue when it comes to
                                    business people thinking about expanding their horizons and this therefore means
                                    that there has to be development of features that will serve as a measure. We will
                                    offer you some of the world's best enterprise software development and eCommerce
                                    software solutions, which will see to it that your business keeps pace with the ever
                                    dynamic business demands, besides transforming it into an efficient profit making
                                    model. Our enterprise application development services ensure maximum value, high
                                    performance and low cost.
                                </p>
                                <br>
                                <!-- <a class="default-btn" routerLink="/">Discover More</a> -->
                                <p>As part of its e-Commerce practice, Jenesys provides end-to-end large scale
                                    e-business solutions from strategy and architecture through to the final system.
                                </p>
                                <br>

                                <div>
                                    <section class="development-area ptb-50">
                                        <div class="container">
                                            <p style="font-size: 20px;line-height: 2;letter-spacing: 2px;">
                                                Our web solutions for businesses are known for their
                                                simplicity and ease of use. Our eCommerce solutions
                                                integrate the following elements to create a robust system:
                                            </p>
                                            <br>
                                            <div class="row align-items-center">
                                                <div class="col-lg-6 col-md-12">

                                                    <br>
                                                    <div class="development-image">
                                                        <img src="./../../../../../assets/img/ecommerce_chart.jpg"
                                                            alt="image">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="development-text">

                                                        <!-- <br> -->
                                                        <ul class="list">
                                                            <li><i class="flaticon-tick"></i> Developing a comprehensive
                                                                e-Business strategy & Hosting plan</li>
                                                            <li><i class="flaticon-tick"></i> Data and process
                                                                integration</li>
                                                            <li><i class="flaticon-tick"></i> Multi-tier application
                                                                design and development</li>
                                                            <li><i class="flaticon-tick"></i> Payment processing</li>
                                                            <li><i class="flaticon-tick"></i> Risk management</li>
                                                            <li><i class="flaticon-tick"></i> Corporate management</li>
                                                            <li><i class="flaticon-tick"></i> Post implementation
                                                                maintenance and support</li>

                                                        </ul>
                                                        <p style="text-align: left;">We optimize performance through
                                                            workload balancing, recovery
                                                            management and response time monitoring which covers
                                                            multiple departmental boundaries from sales and marketing to
                                                            legal to shipping to product management and finance.
                                                        </p>
                                                        <br>
                                                        <p style="text-align: left;">Jenesys follows a well thought-out
                                                            approach to deliver an
                                                            e-Commerce application that not only takes the customer's
                                                            long term vision into consideration, but also takes into
                                                            account all uncertainties while architecting a complete
                                                            solution.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <br>

                                <h4>eBusiness solutions:</h4>

                                <section class="development-area py-4">
                                    <div class="container">
                                        <div class="row align-items-center">

                                            <div class="col-lg-6 col-md-12">
                                                <div class="development-text">
                                                    <p style="text-align: left;">We are proud of our track record in
                                                        implementing IT solutions
                                                        across government organizations and agencies. Our services to
                                                        our public sector clients are focused on improving service
                                                        delivery and increasing constituency participation.

                                                    </p>
                                                    <br>
                                                    <p style="text-align: left;">We provide solutions to government
                                                        departments and agencies in
                                                        the following domains
                                                    </p>
                                                    <!-- <br> -->
                                                    <ul class="list">
                                                        <li><i class="flaticon-tick"></i> Compliance management</li>
                                                        <li><i class="flaticon-tick"></i> Enforcement management</li>
                                                        <li><i class="flaticon-tick"></i> Public utilities management
                                                        </li>
                                                    </ul>
                                                    <p style="text-align: left;">Our consulting and implementation
                                                        expertise can help handle many
                                                        bottlenecks that plague public organizations. For instance,
                                                        public utilities information needs to be communicated
                                                        effectively. We help disseminate this information to various
                                                        entities in a format that is suitable for each. We can also help
                                                        create detailed and accurate reports that can effectively help
                                                        track operations and fix related issues.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <div class="development-image">
                                                    <img src="./../../../../../assets/img/e-goervenance_chart.jpg"
                                                        alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <!-- <div class="development-image"> -->
                                        <h4 class="Big_text">
                                            Our expertise traverses the following elements:
                                        </h4>
                                        <!-- </div> -->
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> Methodology</li>
                                                <li><i class="flaticon-tick"></i> Architecture</li>
                                                <li><i class="flaticon-tick"></i> Platforms</li>
                                                <li><i class="flaticon-tick"></i> Tools</li>
                                                <li><i class="flaticon-tick"></i> Scalability</li>
                                                <li><i class="flaticon-tick"></i> Customization</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <p>Our deep domain knowledge and rich insights help our clients make better and more
                                    effective decisions that directly benefit citizens, communities and business. Our
                                    solutions are meant to help government departments effectively address regulatory
                                    and legislative mandates and implement strategic initiatives.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section bg-color pt-100 pb-70">
    <div class="section-title">
        <h3>The Jenesys <span>Engagement </span> Model</h3>
        <br>
        <p>We offer flexible engagement options to our clients, including the onshore,
            offshore, and hybrid models. Besides this, we also have a Dedicated Development Center.
            <a routerLink="/engagements" style="color: #0d6efd;">Read
                more</a>
        </p>
        <!-- <div><a routerLink="/engagements" style="color: #0d6efd;">Read
                        more</a></div> -->
        <!-- <div class="bar"></div><br><br> -->
    </div>
    <div class="row"></div>
    <div class="default-shape">
        <div class="shape-1"><img src="assets/img/shape/4.png" alt="image">
        </div>
        <div class="shape-2 rotateme"><img src="assets/img/shape/5.svg" alt="image"></div>
        <div class="shape-3"><img src="assets/img/shape/6.svg" alt="image">
        </div>
        <div class="shape-4"><img src="assets/img/shape/7.png" alt="image">
        </div>
        <div class="shape-5"><img src="assets/img/shape/8.png" alt="image">
        </div>
    </div>
    <div class="services-shape" style="z-index: -1;"><img src="assets/img/cloud.png" alt="image">
    </div>
</section>