<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-insights">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Jenesys Insights</h2>
                    <div class="Title_text">Useful information for you</div>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Jenesys Insights</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section pt-5">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                    <img src="assets/img/about/about-2.jpg" alt="image">
                </div>
            </div> -->

            <div class="col-lg-12 col-md-12">
                <div class="about-tab" style="max-width: 100%; padding-top: 20px;">
                    <!-- <h2>About Our Avrax Agency</h2> -->
                    <!-- <div class="bar"></div> -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p> -->
                    <div class="tab about-list-tab">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3">
                                        <span>News and </span>
                                        <span>Events</span>
                                    </div>
                                </div>
                                <br>
                                <p>This page is an archive of news and events that record significant accomplishments
                                    and changes that are continuously evolving the Jenesys brand name and spreading its
                                    presence across the IT industry.
                                </p>
                                <br>

                                <ul class="list">
                                    <li>
                                        <span><i class="flaticon-tick"></i> October 20,2013</span>
                                        <ul>
                                            <br>
                                            <li class="event_text">Jenesys among the few partners to attend IBM
                                                InterConnect 2013 held in
                                                Singapore. The event was attended by IBMers, partners and customers from
                                                more than 50 countries.Over 2,500 delegates exchanged best practices in
                                                the biggest trends in technology including Cloud, Mobile, Social and Big
                                                Data & Analytics.
                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>
                                    <li>
                                        <span><i class="flaticon-tick"></i></span> September 30, 2013
                                        <ul>
                                            <br>
                                            <li class="event_text">Jenesys bags the biggest IBM order for the third
                                                quarter-September 2013.
                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>
                                    <li><span><i class="flaticon-tick"></i></span> September 12, 2013

                                        <ul>
                                            <br>
                                            <li class="event_text">Jenesys bags the award for Most Promising Business
                                                Partner with IBM for
                                                2013.The award was conferred by a select set of panelists to honour the
                                                most successful rational partnerships.The award was received by Mr
                                                Shashidhar BA who leads the IBM Solution Sales in Jenesys. Ms
                                                Jayalakshmi Mahadevan-Channel Leader provided her insights on how
                                                partners can leverage IBM ecosystem for autonomous business.
                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>
                                    <li>
                                        <span><i class="flaticon-tick"></i></span>
                                        March 4, 2013
                                        <ul>
                                            <br>
                                            <li class="event_text">Jenesys proudly announces the investiture of a wholly
                                                owned subsidiary
                                                in the United States. Our expansion of operations in the US has
                                                leveraged our strength to harness more business from around the world
                                                directly and has opened avenues for growth.
                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>
                                    <li>
                                        <span><i class="flaticon-tick"></i></span> February, 2013

                                        <ul>
                                            <br>
                                            <li class="event_text">Jenesys attended the third annual tcworld India 2013
                                                conference, a
                                                congregation of Technical Communicators, which witnessed presenters from
                                                Australia, Germany, the US and India, speak on various technology
                                                aspects like HTML5 and DITA.
                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>

                                    <li><span><i class="flaticon-tick"></i></span> February, 2013
                                        <ul>
                                            <br>
                                            <li class="event_text">Jenesys became an IBM Authorised Solution Partner for
                                                IBM Rational
                                                product solutions after completion of the certification criteria and
                                                business plan approval.
                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>

                                    <li><span><i class="flaticon-tick"></i></span> December 2012
                                        <ul>
                                            <br>
                                            <li class="event_text">Jenesys acquired a new customer, a Canadian major
                                                with global presence.
                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>
                                    <li><span><i class="flaticon-tick"></i></span> November 2012

                                        <ul>
                                            <br>
                                            <li class="event_text">Expansion of Jenesys with operations starting in a
                                                new campus.

                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>

                                    <li><span><i class="flaticon-tick"></i></span>
                                        September 2012
                                        <ul>
                                            <br>
                                            <li class="event_text">Jenesys revels in the celebration of the 10th year
                                                anniversary of its
                                                launch.

                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>
                                    <li><span><i class="flaticon-tick"></i></span> February 2012
                                        <ul>
                                            <br>
                                            <li class="event_text">Jenesys joins hands with Magic Lamp to provide a
                                                unique solution in
                                                automated static testing.

                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>
                                    <li><span><i class="flaticon-tick"></i></span> August 2011
                                        <ul>
                                            <br>
                                            <li class="event_text">Jenesys conferred with the ISO certification for
                                                their excellence in
                                                complying with quality management system standards.
                                            </li>
                                            <!-- <br> -->
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>