<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-partner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Partner Solutions</h2>
                    <div class="Title_text">Collaboration for excellence</div>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>Partner Solutions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                    <img src="assets/img/about/about-2.jpg" alt="image">
                </div>
            </div> -->

            <div class="col-lg-12 col-md-12">
                <div class="about-tab" style="max-width: 100%; padding-top: 20px;">
                    <h5 style="padding: 40px 0px 10px;">Some important questions for any business to consider are:</h5>
                    <div class="tab about-list-tab">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <ul class="list">
                                    <li><i class="flaticon-tick"></i> Do you know what is stopping you from improving
                                        your
                                        cost overrun and time to market?</li>
                                    <li><i class="flaticon-tick"></i> Haven't been able to predict your time to market
                                        due
                                        to numerous unexpected iterations?</li>
                                    <li><i class="flaticon-tick"></i> Are you looking for automation solutions over
                                        manual
                                        ones?</li>
                                    <li><i class="flaticon-tick"></i> Have you realized yet that automation of your
                                        unsteady
                                        slow test cycles could be the answer for your project delays?</li>
                                    <li><i class="flaticon-tick"></i> Are you looking for an adequate solution for
                                        different
                                        platforms and technologies expertise?</li>
                                    <li><i class="flaticon-tick"></i> Are you on the hunt for tools which can be
                                        compatible
                                        with mobile technologies too?</li>
                                    <li><i class="flaticon-tick"></i> Do not have budgets for automating the entire ALM
                                        solutions?</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p>If you are having the above problems and require a quick solution, Jenesys brings to you:
                    </p>
                    <br>
                    <!-- <h2>About Our Avrax Agency</h2> -->
                    <!-- <div class="bar"></div> -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p> -->
                    <div class="tab about-list-tab">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3">
                                        <span>Magic </span>
                                        <span>Lamp</span>
                                    </div>
                                </div>
                                <br>
                                <p>Magic Lamp is a static analysis tool which enables enterprises to test software more
                                    effectively and comprehensively, providing greater security for their organization.
                                    Magic Lamp provides automated detection of business-critical security, performance
                                    and reliability errors missed by traditional testing methodology.

                                </p>
                                <br>
                                <p>Magic Lamp's technology is based on the latest research in inter-procedural data flow
                                    analysis. Using the best methods known by experienced programmers, it exercises
                                    binary Java code across multiple modules, layers for all paths, inputs and detects
                                    errors missed by testing.

                                </p>
                                <br>
                                <p>Magic lamp solutions has delivered high value to organisations by reducing the cost
                                    of software defects, increasing reliability, identifying the causes of performance
                                    degradation, isolating security vulnerabilities, enforcing application-specific
                                    design and interface contract rules and lowering costs of software development and
                                    maintenance. For more information on Magic Lamp, visit:
                                    <a href="/assets/magiclamp/" style="color: #086ad8;"
                                        target="_blank">{{locationPath}}/assets/magiclamp/</a>

                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>