<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-industry">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Industry Verticals</h2>
                    <div class="Title_text">Technology consulting across businesses</div>
                    <!-- <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>About</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                    <img src="assets/img/about/about-2.jpg" alt="image">
                </div>
            </div> -->

            <div class="col-lg-12 col-md-12">
                <div class="about-tab" style="max-width: 100%; padding-top: 20px;">
                    <p class="enterprise_styles">We have worked across industry verticals over the years and helped
                        businesses in diverse domains
                        bridge technological gaps by providing them cutting-edge solutions that address their unique
                        needs. Our expertise in delivering effective application platform and business integration
                        solutions have ensured that our clients across the globe now operate with the latest IT
                        infrastructure that has been optimized for each of their individual businesses.
                        <br>
                        <br>
                        Our expertise spans across multiple industries, including telecom, healthcare, banking and
                        financial services, governments, energy, and retail.
                    </p>
                    <br>
                    <!-- <h2>About Our Avrax Agency</h2> -->
                    <!-- <div class="bar"></div> -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p> -->
                    <div class="tab about-list-tab">
                        <div class="tab_content">
                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3">
                                        <span>Telecom</span>
                                        <span></span>
                                    </div>
                                </div>
                                <br>
                                <!-- <ul class="list">
                                    <li><i class="flaticon-tick"></i> The Philosopy of Business Analytics</li>
                                    <li><i class="flaticon-tick"></i> Fast Track Your Business</li>
                                    <li><i class="flaticon-tick"></i> Lies & Damn Lies About Your Business</li>
                                    <li><i class="flaticon-tick"></i> The Ultimate Deal on Business</li>
                                </ul> -->
                                <p>Our telecommunication solutions offer your organization the most value from its
                                    telecom systems. We enable you to build, maintain, operate, manage, and continuously
                                    improve your communications infrastructure. Telecom service providers can avail of
                                    our expertise in the domain combining high levels of skills and cost efficiencies.
                                </p>
                                <p>
                                </p>

                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <!-- <div class="development-image"> -->
                                        <h4 class="Big_text">
                                            The range of services we provide to the telecom industry includes the
                                            following:
                                        </h4>
                                        <!-- </div> -->
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> Intelligent services and solutions
                                                </li>
                                                <li><i class="flaticon-tick"></i> Telepresence solutions</li>
                                                <li><i class="flaticon-tick"></i> eLearning</li>
                                                <li><i class="flaticon-tick"></i> Integration of telecom services</li>
                                                <li><i class="flaticon-tick"></i> Mobile database management</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <!-- <div class="development-image"> -->
                                        <h4 class="Big_text">
                                            Our core focus in providing telecom integration solutions is to combine
                                            business
                                            processes with IT strategy towards,
                                        </h4>
                                        <!-- </div> -->
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> Reaching and deepening relationships
                                                    with
                                                    customers</li>
                                                <li><i class="flaticon-tick"></i> Collaborating closely with business
                                                    partners</li>
                                                <li><i class="flaticon-tick"></i> Enhancing workforce productivity</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area pt-5 pb-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <!-- <h3 class="odometer" data-count="950">00</h3> -->
                    <p>View our mobile application and development solutions
                        <a routerLink="/wireless" style="color: #0d6efd;">here </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <!-- <div class="icon">
                        <i class="flaticon-happy"></i>
                    </div>
                    <h3><span class="odometer" data-count="150">00</span></h3> -->
                    <p>View our application development solutions
                        <a routerLink="/enterprise" style="color: #0d6efd;">here
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <!-- <div class="icon">
                        <i class="flaticon-technical-support"></i>
                    </div>
                    <h3><span class="odometer" data-count="550">00</span></h3> -->
                    <p>View our Midrange/iSeries solutions
                        <a routerLink="/mainframe" style="color: #0d6efd;">here </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <!-- <div class="icon">
                        <i class="flaticon-trophy"></i>
                    </div>
                    <h3><span class="odometer" data-count="750">00</span></h3> -->
                    <p>View our eGovernance solutions
                        <a routerLink="/ebusiness" style="color: #0d6efd;">here </a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <!-- <div class="icon">
                        <i class="flaticon-trophy"></i>
                    </div>
                    <h3><span class="odometer" data-count="750">00</span></h3> -->
                    <p>View our energy management solutions
                        <a routerLink="/energit" style="color: #0d6efd;">here </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>