<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-systems">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Systems Solutions</h2>
                    <div class="Title_text">Pioneers in server, mobile & embedded systems</div>
                    <!-- <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li>About</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                    <img src="assets/img/about/about-2.jpg" alt="image">
                </div>
            </div> -->

            <div class="col-lg-12 col-md-12">
                <div class="about-tab" style="max-width: 100%; padding-top: 20px;">
                    <!-- <h2>About Our Avrax Agency</h2> -->
                    <!-- <div class="bar"></div> -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo.</p> -->
                    <div class="tab about-list-tab">
                        <div class="tab_content">

                            <div class="tabs_item">
                                <div class="text">
                                    <div class="use_class mb-3 mt-5">
                                        <span>Validation and</span>
                                        <span>Verification</span>
                                    </div>
                                </div>
                                <br>
                                <p>Applications now provide the foundation for an organization's core offerings,
                                    reinforcing its brand and reputation. However, inadequate testing can increase risk,
                                    potentially leading to loss of revenue and customers' trust.
                                </p>
                                <br>
                                <p>We offer a comprehensive portfolio of testing services that take a proven approach to
                                    industrialized and structured testing.
                                </p>
                                <br>


                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <!-- <div class="development-image"> -->
                                        <h4 class="Big_text">
                                            Our services maximize return on investment
                                            and deliver tangible benefits:
                                        </h4>
                                        <!-- </div> -->
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> Total cost of testing reduced by up to
                                                    40%</li>
                                                <li><i class="flaticon-tick"></i> Quality levels improved by preventing
                                                    high-severity defects</li>
                                                <li><i class="flaticon-tick"></i> Time to market decreased</li>
                                                <li><i class="flaticon-tick"></i> Technical and business risks
                                                    significantly
                                                    mitigated.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>

                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-12">
                                        <!-- <div class="development-image"> -->
                                        <h4 class="Big_text">
                                            Testing Services offered:
                                        </h4>
                                        <!-- </div> -->
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="development-text">
                                            <ul class="list">
                                                <li><i class="flaticon-tick"></i> Functional and Integration testing
                                                </li>
                                                <li><i class="flaticon-tick"></i> Stress and Regression Testing</li>
                                                <li><i class="flaticon-tick"></i> Performance Testing</li>
                                                <li><i class="flaticon-tick"></i> Interoperability Testing</li>
                                                <li><i class="flaticon-tick"></i> Conformance Testing and</li>
                                                <li><i class="flaticon-tick"></i> Test Automation Frameworks</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>